@charset "UTF-8";

#footerBox {
	display:inline-block;
	width:1280px;
	padding: 5px 0;
	line-height:25px;
	font-size:10px;
	font-weight:900;
	background:rgb(57, 105, 73);
	text-align:center;
	text-align:center;
	
}

footer{ text-align:center; }