
body{
    margin: -10px 0px;
}

.pageSize{
    margin: -10px auto;
    width: 1280px;
}

header{
	position:sticky;
	z-index:3;
	top:0;
}

#headerMenuBox{
    padding-top: 50px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color:white;
    
}
#headerMenuBox div a{
    text-decoration: none;
    color: #333;
}
#chatBotDiv{
   margin-left: -300px;
    width: 80px;
    height: 80px;
    background-color: aqua;
    border-radius: 50%;
}
#chatBot{
    margin-top: 11px;
    width: 55px;
    margin-left: 11px;
    height: 55px;
}

#logoImg{
   width: 300px;
    height: 100px;
    margin-left: 50px;
}

#headerMenuA{
    margin-top: 10px;
    float: left;
    margin-right: 10px;
    
}

.userImg{
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

  .top-line{
	height:4px;
	background:black;

	background: rgb(57, 105, 73);
}

.header-button{
	font: 600 'Open Sans', sans-serif;
	width: 130px;
    height: 55px;
    padding: 0;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    color: #FFF;
    border-radius: 5px;
    border: none;
    background: #21825B;
}