
body{
    margin: -10px 0px;
}

.pageSize{
    margin: -10px auto;
    width: 1280px;
}

header{
	position:sticky;
	z-index:3;
	top:0;
}

#headerMenuBox{
    padding-top: 50px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color:white;
    
}
#headerMenuBox div a{
    text-decoration: none;
    color: #333;
}
#chatBotDiv{
    margin-left: -300px;
    width: 50px;
    height: 50px;
   
    background-color: aqua;
    border-radius: 50%;
}
#chatBot{
    margin-top: 10px;
    width: 30px;
    margin-left: 10px;
    height: 30px;
}

#logoImg{
    width: 200px;
    height: 60px;
    margin-left:100px
}

#headerMenuA{
    margin-top: 10px;
    float: left;
    margin-right: 10px;
    
}

.userImg{
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

  .top-line{
	height:4px;
	background:black;

	background: rgb(57, 105, 73);
}

.header-button{
	font: 600 'Open Sans', sans-serif;
	width: 100px;
	padding: 0;
	line-height: 30px;
	color: #FFF;
	border-radius: 5px;
	border: none;
	background: #21825B;
}