
body{
    margin: -10px 0px;
}

header{

}

#headerMenuBox{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#logoImg{
    width: 300px;
    height: 150px;
}

#idDiv{
    margin-bottom: 100px;
}
/*
#headerMenuBox{
    width: 100%;
    height: 50px;
    padding-top: 80px;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    
}
#headerMenuBox div a{
    text-decoration: none;
    color: #333;
}
#chatBotDiv{
    width: 60px;
    height: 60px;
    background-color: aqua;
    border-radius: 50%;
    margin-bottom: 10px;
    position: absolute;
    top: 50px;
    left: 20px;
}
#chatBot{
    margin-top: 11px;
    width: 40px;
    margin-left: 11px;
    height: 40px;
}

#logoImg{
    position: absolute;
    top: 35px;
    left: 400px;
    height: 80px;
    margin-left: 50px;
}
*/
#headerMenuA{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    
}

.userImg{
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/*
  .top-line{
	height:4px;
	background:black;

	background: rgb(57, 105, 73);
}*/

.header-button{
    float: right;
    margin-top: -10px;
    margin-right: 10px;
	font: 600 'Open Sans', sans-serif;
    width: 100px;
    height: 40px;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
  
    border-radius: 5px;
    border: none;
    background: none;
    
}