@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

nav * {
	box-sizing: border-box;
}

nav {
	font: 1000 175% 'Helvetica Neue', Helvetica, Arial;
}

.topMenu {
	width: 60%;
	margin: 0 auto;
	font-family: 'GmarketSansMedium';
}

nav ul li {
	display: inline;
	text-align: center;
}

nav a {
	display: inline-block;
	width: 25%;
	margin: 0;
	text-decoration: none;
	color: #333;
}

.one:hover ~ #topMenuHr {
	margin-left: 0%;
	visibility: visible;
}

.two:hover ~ #topMenuHr {
	margin-left: 25%;
	visibility: visible;
}

.three:hover ~ #topMenuHr {
	margin-left: 50%;
	visibility: visible;
}

.four:hover ~ #topMenuHr {
	margin-left: 75%;
	visibility: visible;
}

#topMenuHr {
	visibility: hidden;
	height: .25rem;
	width: 25%;
	margin: 0;
	background: rgb(57, 105, 73);
	border: none;
	transition: .3s ease-in-out;
}

ul {
	padding-inline-start: 0;
	margin-top:0;
}