<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.finalProject.project.dao.ICommunityDAO">
  
  <select id="listAllAggre" parameterType="hashmap" resultType="com.finalProject.project.model.AggregationVO">
        SELECT * FROM aggregation WHERE agName BETWEEN 10 and 20;
  </select>
  
  </mapper>
  