<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.finalProject.project.dao.ICommunityDAO">
  <select id="dataCount" parameterType="hashmap" resultType="int">
      select count(agNum) from aggregation
      
      <choose>
        <when test="type!=null and type.equals('ALL')">
          ;
        </when>
        <when test="type!=null and type.equals('memId')">
          WHERE memId Like CONCAT('%',#{keyword},'%');
        </when>
        <when test="type!=null and type.equals('agName')">
          WHERE agName Like CONCAT('%',#{keyword},'%');
        </when>
      </choose>
      
      
  </select>

  <select id="myDataCount" parameterType="string"  resultType="int">
    select count(agCount) from aggregation WHERE memId =#{memid};
</select>

  <select id="listAllAggre" parameterType="hashmap" resultType="com.finalProject.project.model.AggregationVO">
        SELECT * FROM aggregation ORDER BY agNum DESC LIMIT #{displayPost}, #{postNum};
  </select>

  <select id="myListAllAggre" parameterType="hashmap" resultType="com.finalProject.project.model.AggregationVO">
    SELECT * FROM aggregation WHERE memId=#{memId} ORDER BY agNum DESC LIMIT #{displayPost}, #{postNum};
  </select>
  
    <select id="SearchlistAllAggre" parameterType="hashmap" resultType="com.finalProject.project.model.AggregationVO">
		  	SELECT * FROM aggregation WHERE
			  <choose>
				  <when test="type!=null and type.equals('agName')">
				  	agName Like CONCAT('%',#{keyword},'%')
				  </when>
				 <when test="type!=null and type.equals('memId')">
				 	 memId Like CONCAT('%',#{keyword},'%')
				  </when>
			  </choose>
			  ORDER BY agNum DESC LIMIT #{displayPost}, #{postNum};
		  </select>

  <update id="updateAggregation" parameterType="hashMap">
    UPDATE aggregation
    SET agName=#{agName},agText=#{agText}
    WHERE agNum =#{agNum}
  </update>

  <delete id="deleteAggregation" parameterType="int">
    DELETE FROM aggregation WHERE agNum=#{agNum}

  </delete>

  <delete id="deleteAggComment" parameterType="int">
    DELETE FROM commenttable WHERE agNum=#{agNum}

  </delete>
  </mapper>