<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.finalProject.project.dao.ICommunityDAO">
  
  <!--  등록 -->
  <insert id="insertAggregation" parameterType="com.finalProject.project.model.AggregationVO">
  		INSERT INTO aggregation (agName, memId, agText)
  		VALUES (#{agName}, #{memId}, #{agText})
  </insert>
  
  <select id="detailViewAggre" parameterType="int" resultType="com.finalProject.project.model.AggregationVO">
    select * from aggregation where agNum = #{agNum}
	</select>

  <update id="viewsAggregation" parameterType="int">
    UPDATE aggregation
    SET agCount = agCount+1
    WHERE agNum = #{agNum}
  </update>

  <insert id="insertComment" parameterType="com.finalProject.project.model.commentVO">
    INSERT INTO commenttable (cId, cContent, createDate, agNum, memId, updateDate, cDepth, cGroup)
  	VALUES (DEFAULT, #{cContent}, DEFAULT, #{agNum}, #{memId}, DEFAULT, #{cDepth}, #{cGroup})
  </insert>

  <select id="listAllComment" parameterType="int" resultType="com.finalProject.project.model.commentVO">
    select * from commenttable where agNum = #{agNum}
	</select>

  </mapper>