<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.finalProject.project.dao.IExerciseInfoDAO">

  <select id="detailViewRoutineInfo" parameterType="string"
  								resultType="com.finalProject.project.model.ExerciseInfoVO">
  	SELECT * FROM detailInfo	WHERE routineNo = #{routineNo}
  </select>
  
  <select id="rankListInfo" parameterType="int" resultType="com.finalProject.project.model.ExerciseInfoVO">
    SELECT * FROM detailInfo
    <choose>
      
      <when test="pNum != null and pNum == 1">
        WHERE routineCategory = "#등 #상체"
        
      </when>
      <when test="pNum != null and pNum == 2">
        WHERE routineCategory = "#어깨 #목"
      </when>
      <when test="pNum != null and pNum == 3">
        WHERE routineCategory = "#팔 #다리"
      </when>
      <when test="pNum != null and pNum == 4">
        WHERE routineCategory = "#허리"
      </when>
    </choose>
    ORDER BY routineCount DESC LIMIT 5
  </select>

  <select id="itemListCount" parameterType="int" resultType="int">
    SELECT count(routineNo) FROM detailInfo
    <choose>
      
      <when test="pNum != null and pNum == 1">
        WHERE routineCategory = "#등 #상체"
        
      </when>
      <when test="pNum != null and pNum == 2">
        WHERE routineCategory = "#어깨 #목"
      </when>
      <when test="pNum != null and pNum == 3">
        WHERE routineCategory = "#팔 #다리"
      </when>
      <when test="pNum != null and pNum == 4">
        WHERE routineCategory = "#허리"
      </when>
    </choose>
  </select>
  <select id="itemListInfo" parameterType="hashmap" resultType="com.finalProject.project.model.ExerciseInfoVO">
    SELECT * FROM detailInfo
    <choose>
      
      <when test="pNum != null and pNum == 1">
        WHERE routineCategory = "#등 #상체"
        
      </when>
      <when test="pNum != null and pNum == 2">
        WHERE routineCategory = "#어깨 #목"
      </when>
      <when test="pNum != null and pNum == 3">
        WHERE routineCategory = "#팔 #다리"
      </when>
      <when test="pNum != null and pNum == 4">
        WHERE routineCategory = "#허리"
      </when>
    </choose>
    ORDER BY routineNo DESC LIMIT #{displayPost}, #{postNum};
  </select>

  <select id="exVideoList" parameterType="int" resultType="hashmap">
    SELECT * FROM exVideolist
    ORDER BY RAND() desc LIMIT 10;
  </select>

  <update id="viewsExercise" parameterType="string">
    UPDATE detailInfo
    SET routineVisit = routineVisit+1
    WHERE routineNo = #{routineNo}
  </update>

  <update id="saveMyList" parameterType="hashmap" >
    INSERT IGNORE INTO exerciselist(memId, routineNo)
    VALUES(#{memId},#{routineNo}); 
  </update>
  
  <update id="saveListCount" parameterType="string">
    UPDATE detailInfo
    SET routineCount = routineCount+1
    WHERE routineNo = #{routineNo}
  </update>

 </mapper>