<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.finalProject.project.dao.IHealthcareDAO">

  <select id="graphView" parameterType="hashmap" resultType="com.finalProject.project.model.HealthcareGraphVO">
    SELECT * FROM healthcaregraph WHERE hcdName=#{hcdName} AND memId=#{memId} ORDER BY hcdJoinDate DESC LIMIT #{count}
  </select>

  <insert id="hcdInput" parameterType="hashmap">
    INSERT INTO healthcaregraph(hcdNo,memId,hcdName,hcdValue,hcdJoinDate)
    VALUES (DEFAULT,#{memId},#{hcdName},#{hcdValue},DEFAULT);
  </insert>

  <select id="hcdOutput" parameterType="hashmap" resultType="com.finalProject.project.model.HealthcareGraphVO">
    SELECT * FROM healthcaregraph WHERE hcdName=#{hcdName} AND memId=#{memId} ORDER BY hcdJoinDate DESC LIMIT 1
  </select>

  <select id="heightOutput" parameterType="string" resultType="string">
    SELECT hcdValue FROM healthcaregraph WHERE hcdName="키" AND memId=#{memId} ORDER BY hcdJoinDate DESC LIMIT 1
  </select>

  </mapper>