@charset "UTF-8";

 *{
 margin: 0 auto; 
 padding: 0; 
 list-style: none; 
 text-decoration: none;
 text-align:center;
 
 }
.spmMenu{
	background:#eaeaea;
 	display:flex;
 	width:100%;
 	z-index:1000;
}

#left{
	margin-left:0px;
	margin-right:0px;
	width:400px;
}
 
 ul, lo, li { margin:0; padding:0; list-style:none; }
 
 .spmprd{
 	position:relative;
 	display:inline-block;
 	width:80%;
 	height:100%;
 	color:black;
 }
 
.product-card {
	width:500px;
    position: relative;
    display:inline-block;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 30px auto;
    margin-right:1%;
    background: #fafafa;
    border: 1px solid #363636;
    border-radius: 20px;
}


.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}


.product-details h4 a {
	font-size:18px;
    font-weight: 500px;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: black;
    border: 1px solid #D6D9E0;
    border-radius: 15px;
}

 
 /*--------------------------leftwing---------------------------- */
 
body {
  font-family: sans-serif;
  font-size: 16px;
}
ul.sidebar-menu {
    margin: 10px 0px 0px 0px;
    padding: 0;
    max-width: 400px;
    list-style: none;
    list-style-type: none;
}
.sidebar-menu li a span {
  margin-right: 20px;
  color: #fff;
}
.sidebar-menu li a  {
  background-color: #4d5158;
  padding: 20px 25px;
  display: block;
  text-decoration: none;
  color: #fff;
}
.sidebar-menu li a:hover  {
  background-color: #52565d;
  padding: 20px 25px;
  display: block;
  text-decoration: none;
  color: #fff;
}
li.have-children ul {
  padding: 0px;
} 
li.have-children ul li a {
  background-color: #4d5158;
  padding-left: 62px;
} 
li.have-children ul li a:hover {
  color: #fff;
  background-color: #52565d;
  padding-left: 62px;
} 
li.have-children, li {
  position: relative;
}
.have-children span::after {
  position: absolute;
  right: 30px;
  content: "\f054";
  color: #fff;
  transition: all .5s;
}
li.active.have-children span::after {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sidebar-menu .have-children > ul {
    display: none;
}

/*--------------------------effmenu---------------------------- */


.health-wrap {
    width: calc(100% + 20px);
    display: block;
}    

.health-wrap .health-one {
    width: calc(15% - 20px);
    height: 250px;
    margin: 0px 20px 20px 0px;
    float: left;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgb(70 56 147 / 10%);
    text-align: center;
    background: #FFFFFF;
    display: table;
    border: 1px solid #E6E9ED;
}

.health-wrap .health-one .itxt {
    display: table-cell;
    vertical-align: middle;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #101219;
    text-align: center;
    width: 100%;
}

.health-wrap .health-one .itxt .icon {
    width: 105px;
    height: 105px;
    display: block;
    margin: 0 auto 20px;
}

.health-wrap .eye .itxt .icon {
    background: url(/image/spm/spmeye.png) center no-repeat;
    background-size: 105px 105px;
}

.health-wrap .fat .itxt .icon {
    background: url(/image/spm/spmfat.png) center no-repeat;
    background-size: 105px 105px;
}

.health-wrap .blood .itxt .icon {
    background: url(/image/spm/spmblood.png) center no-repeat;
    background-size: 105px 105px;
}

.health-wrap .liver .itxt .icon {
    background: url(/image/spm/spmliver.png) center no-repeat;
    background-size: 105px 105px;
}

.health-wrap .gut .itxt .icon {
    background: url(/image/spm/spmgut.png) center no-repeat;
    background-size: 105px 105px;
}

.health-wrap .stress .itxt .icon {
    background: url(/image/spm/spmstress.png) center no-repeat;
    background-size: 105px 105px;
}

.health-wrap .imm .itxt .icon {
    background: url(/image/spm/spmimm.png) center no-repeat;
    background-size: 105px 105px;
}

.health-wrap .bone .itxt .icon {
    background: url(/image/spm/spmbone.png) center no-repeat;
    background-size: 105px 105px;
}

.health-wrap .aging .itxt .icon {
    background: url(/image/spm/spmaging.png) center no-repeat;
    background-size: 105px 105px;
}

.health-wrap .bp .itxt .icon {
    background: url(/image/spm/spmbp.png) center no-repeat;
    background-size: 105px 105px;
}

.health-wrap .bs .itxt .icon {
    background: url(/image/spm/spmbs.png) center no-repeat;
    background-size: 105px 105px;
}

.health-wrap .joint .itxt .icon {
    background: url(/image/spm/spmjoint.png) center no-repeat;
    background-size: 105px 105px;
}

/*--------------------------spmDetail-----------------------------*/

.spmA{
	color:black;
}

.heart-icon rect{
  clip-path:url('#heart-path');
}



.icon{
  width:50px;
  height:50px;
  cursor:pointer;
  fill: #ccc;
  
}


.icon:hover{
  fill: red;
}







