@charset "UTF-8";


* {box-sizing: border-box;}

.spmmenu {
	margin:0 auto;
	width: 1280px;
	display: flex;
	text-align:center;
	padding-bottom:9px;
	}

.menu-con {
	height:800px;
	display: flex;
	-webkit-justify-content:space-around;
	position:relative;
	}

.menu-con p {
	height:20px;
	-webkit-align-self:center;
	color:black;
	font-size:25px;
	z-index:2;
	}
	
.menu-con p a{
	color: black;
	text-decoration: none;
}

.spmmenu div:hover{
	opacity:0.6;
}







