@font-face {
	font-family: 'InkLipquid';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.image1 {
	background: url('../image/indexbg1.png') no-repeat;
	background-attachment: fixed;
	background-size: cover;
	opacity: 0.8;
	width: 100%;
	height: 100vh;
	position: relative;
}

.image2 {
	background:
		url('https://mblogthumb-phinf.pstatic.net/MjAyMDA0MjVfOTMg/MDAxNTg3Nzk4NTY5MDcw.xZQ_wk_G-5kWJNEFZM-d6EUffyRlW7ggHu_GWO-Mu4Ig.gDsmuLNV-T2ASGz9P4Fboklok2lCPnMRMHJ0s30WE2Ug.PNG.ichufs/%EC%9D%B4%ED%83%88%EB%A6%AC%EC%95%84_%ED%94%BC%EB%A0%8C%EC%B2%B4_%EB%AF%B8%EC%BC%88%EB%9E%80%EC%A0%A4%EB%A1%9C_%EC%96%B8%EB%8D%95%EC%97%90%EC%84%9C_%ED%95%A8%EA%BB%98_%EB%85%B8%EC%9D%84%EC%9D%84_%EB%B3%B4%EB%8B%A4.png?type=w800')
		no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 100vh;
	position: relative;
}

.image3 {
	background: url(
'../image/index1.jpg') no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 100vh;
	position: relative;
}

.main_text {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 100px;
	font-weight: bold;
	height: 200px;
	font-family: 'InkLipquid';
}

.sub_text {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 50px;
	font-family: 'InkLipquid';
	font-size: 30px;
}

.menu {
	width: 100%;
	height: 100vh;
	position: relative;
}

.map_api {
	width: 100%;
	height: 100vh;
	position: relative;
}

.member_button {
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
}

.button {
	width: 150px;
	height: 50px;
	margin: 0 10px;
	font-size: 30px;
	font-family: 'InkLipquid';
	border: 0;
}

.button.button:hover {
	background-color: #F3CF98;
}

.user_logIn_img {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
}

.userImg {
	width: 100px;
	height: 100px;
}

.user_logIn_name {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user_logIn_button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px
}

.text {
	text-align: center;
	font-family: 'InkLipquid';
	font-size: 30px;
	height: 100px;
}

.map_box {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.map {
	width: 500px;
	height: 400px;
}

.menu {
	background-color: #F3CF98;
}

.menu_text {
	text-align: center;
	font-family: 'InkLipquid';
	font-size: 100px;
	font-weight: bold;
	height: 200px;
	background-color: #F3CF98;
}

.right_menu_box {
	height: 70%;
}

.button_box_top {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 50%;
}

.button_box_bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 50%;
}

.map_box_left {
	background-color: #F3CF98;
	float: left;
	width: 50%;
}

.box1 {
	width: 600px;
	height: 300px;
	border: 3px solid;
	margin: 0 50px;
	border: 0;
	font-family: 'InkLipquid';
	font-size: 50px;
}

.box1.box1:hover {
	background:
		url('https://health.chosun.com/site/data/img_dir/2020/12/18/2020121801715_0.jpg')
		no-repeat;
	background-size: cover;
}

.box2 {
	width: 600px;
	height: 300px;
	border: 3px solid;
	margin: 0 50px;
	border: 0;
	font-family: 'InkLipquid';
	font-size: 50px;
}

.box2.box2:hover {
	background:
		url('http://cdn.monews.co.kr/news/photo/202206/313295_82232_2015.jpg')
		no-repeat;
	background-size: cover;
}

.box3 {
	width: 600px;
	height: 300px;
	border: 3px solid;
	margin: 0 50px;
	border: 0;
	font-family: 'InkLipquid';
	font-size: 50px;
}

.box3.box3:hover {
	background: url('../image/indexpicture.png') no-repeat;
	background-size: cover;
}

.box4 {
	width: 600px;
	height: 300px;
	border: 3px solid;
	margin: 0 50px;
	border: 0;
	font-family: 'InkLipquid';
	font-size: 50px;
}

.box4.box4:hover {
	background:
		url('https://mblogthumb-phinf.pstatic.net/MjAxODA0MTZfNDMg/MDAxNTIzODY3OTUwMzk5.4RJpbOLIHXySrBRmVvpfpwaBaeoCSol3bmILuFlmjBog.W8N581D-AT6vGa4hwhcuWLKbOCQEGdiGDFnPkgk1E-wg.JPEG.raonato2017/1.jpg?type=w800')
		no-repeat;
	background-size: cover;
}

.map_api {
	background: #F3CF98;
}

.footer_box {
	height: 80px;
	position: absolute;
	bottom: 0;
	background-color: #F3CF98;
	text-align: center;
	font-size: 12px;
	width: 100%;
}

/*수정*/
.chatbot_img {
	background: url('../image/chatBot.png') no-repeat;
	background-size: cover;
	width: 100px;
	height: 100px;
	float: right;
}

#chatBot {
	margin-top: 11px;
	width: 40px;
	margin-right: 9px;
	height: 40px;
}

#chatBotDiv {
	width: 60px;
	height: 60px;
	background-color: #F3CF98;
	border-radius: 50%;
	margin-bottom: 10px;
	position: absolute;
	top: 50px;
	left: 20px;
}

/* 지도 css*/
.map_wrap, .map_wrap * {
	margin: 0;
	padding: 0;
	font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
	font-size: 12px;
}

.map_wrap a, .map_wrap a:hover, .map_wrap a:active {
	color: #000;
	text-decoration: none;
}

.map_wrap {
	position: relative;
	width: 90%;
	height: 700px;
	margin-left:5%;
}

#menu_wrap {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 250px;
	margin: 10px 0 30px 10px;
	padding: 5px;
	overflow-y: auto;
	background: rgba(255, 255, 255, 0.7);
	z-index: 1;
	font-size: 12px;
	border-radius: 10px;
}

.bg_white {
	background: #fff;
}

#menu_wrap hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 2px solid #5F5F5F;
	margin: 3px 0;
}

#menu_wrap .option {
	text-align: center;
}

#menu_wrap .option p {
	margin: 10px 0;
}

#menu_wrap .option button {
	margin-left: 5px;
}

#placesList li {
	list-style: none;
}

#placesList .item {
	position: relative;
	border-bottom: 1px solid #888;
	overflow: hidden;
	cursor: pointer;
	min-height: 65px;
}

#placesList .item span {
	display: block;
	margin-top: 4px;
}

#placesList .item h5, #placesList .item .info {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#placesList .item .info {
	padding: 10px 0 10px 55px;
}

#placesList .info .gray {
	color: #8a8a8a;
}

#placesList .info .jibun {
	padding-left: 26px;
	background:
		url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png)
		no-repeat;
}

#placesList .info .tel {
	color: #009900;
}

#placesList .item .markerbg {
	float: left;
	position: absolute;
	width: 36px;
	height: 37px;
	margin: 10px 0 0 10px;
	background:
		url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png)
		no-repeat;
}

#placesList .item .marker_1 {
	background-position: 0 -10px;
}

#placesList .item .marker_2 {
	background-position: 0 -56px;
}

#placesList .item .marker_3 {
	background-position: 0 -102px
}

#placesList .item .marker_4 {
	background-position: 0 -148px;
}

#placesList .item .marker_5 {
	background-position: 0 -194px;
}

#placesList .item .marker_6 {
	background-position: 0 -240px;
}

#placesList .item .marker_7 {
	background-position: 0 -286px;
}

#placesList .item .marker_8 {
	background-position: 0 -332px;
}

#placesList .item .marker_9 {
	background-position: 0 -378px;
}

#placesList .item .marker_10 {
	background-position: 0 -423px;
}

#placesList .item .marker_11 {
	background-position: 0 -470px;
}

#placesList .item .marker_12 {
	background-position: 0 -516px;
}

#placesList .item .marker_13 {
	background-position: 0 -562px;
}

#placesList .item .marker_14 {
	background-position: 0 -608px;
}

#placesList .item .marker_15 {
	background-position: 0 -654px;
}

#pagination {
	margin: 10px auto;
	text-align: center;
}

#pagination a {
	display: inline-block;
	margin-right: 10px;
}

#pagination .on {
	font-weight: bold;
	cursor: default;
	color: #777;
}