

#disease{
	display: flex;
	margin: 0 3%;
	width: 94%;
}

#listSlider1{
	width: 100%;
    height: 300px;
	border: 2px solid rgb(75, 77, 80);
	border-radius: 10px;
}

.listSlider {
    overflow: hidden;
    position: relative;
}

.viewportList {
    margin: 1%;
    height: 92%;
    width: 98%;
    overflow: hidden;
  }

  .slidesList-list {
    width: 10000px;
    height: 100%;
    margin-left: 9%;
    list-style: none;
    white-space: nowrap;
  }

  .slideList {
    float: left;
    width: 300px;
    margin-left: 10px;
    height: 99%;
    border: 2px solid black;
    border-radius: 20px;
  }

  .triggerList {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 10%;
    cursor: pointer;
    background: rgb(96, 144, 255);
  }
  .trigger-right {
    left: auto;
    right: 0px;
    top: 0px;
  }
  .slideListImg{
    margin-left: 40%;
    width: 50px;
    height: 50px;
  }