@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

@font-face {
    font-family: 'TTTtangsbudaejjigaeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: -10px 0px;
}
#headerMenuBox{
	background-color: #ffffffb3;
	
}
#wrap{
	margin: -10px auto;
	width:100%;
}
#healthcareBN{
	
	width: 100%;
	height: 300px;
	margin-top: 70px;
	background-image: url("../../image/healthcare/bn4.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#healthcareBN :first-child{
	position: relative;
	margin-bottom: 5px;
	top: 100px;
	text-align: center;
	font-family: 'Hanna', sans-serif;
	font-size: 40px;
}

#healthcareBN :last-child{
	margin-top: 0px;
	position: relative;
	top: 100px;
	text-align: center;
	font-family: 'Hanna', sans-serif;
	font-size: 30px;
	color: #262626d9;
}
#position{
	border: 1px solid green;
	width:180px;
	height:200px;
	
}

#date{
	width:95%;
	height:25%;
}

#time{
	width:95%;
	height:25%;
}

#reserve1{
	width:95%;
	height:25%;
}

#pushed{
	float:right;
	width:50px;
	margin-right:10px;
	height:13%;
}

#afterreserve{
	width:180px;
	height:200px;
	display:inline-block;
	border: 1px solid green;
	justify-content:space-between;
	float: right;
	
}

#afterdate{
	padding-top: 15px;
	height: 40px;
	width:95%;
	border: 1px solid black;
	margin:auto;
	text-align:center;
}

#aftertime{
	width:95%;
	padding-top: 15px;
	height: 40px;
	border: 1px solid black;
	margin:auto;
	text-align:center;
	
}

#afterreserve2{
	width:95%;
	border: 1px solid black;
	padding-top: 15px;
	height: 40px;
	text-align:center;
	margin:auto;
}

#text{
	border: 1px solid black;
	border-radius: 10px;
}

#reservetext{
	margin-left: 4%;
	display: flex;
}

.healHr{
	width: 95%;
    height: 1%;
    margin: 20px;
    border: 2px solid #00071085;
    border-radius: 10em;
}

.graph{
	display: flex;
}
#graphWeight{
	margin-left: 3%;
	width: 75%;
	height: 600px;
	border: 3px solid #8f8f8f;
	/*box-shadow: 0px 3px 3px 3px rgba(98, 98, 98, 0.819);*/
	background-color: #eff7ff;
	border-radius: 10px;
}
#graphBMI, #graphBloodPressure, #graphBloodSugar{
	margin-top: 30px;
	margin-left: 1%;
    width: 5%;
    height: 550px;
    border-radius: 20px;
	box-shadow: 0px 3px 3px 3px rgba(98, 98, 98, 0.819);
    cursor: pointer;
    background-color: #e4e9ff;
}

#graphBloodPressureHiddenDiv,#graphBMIHiddenDiv,
 #imgHiddenDiv1, #graphBloodSugarHiddenDiv{
	visibility: hidden;
}


.hiddenName{
	margin: auto;
	width: 20px;
	font-size: 20px;
}
.divName{
	margin-left: 2%;
	font-family: 'KoPub Batang', serif;
    font-size: 25px;
}
/*
.graphMath{
	margin-left: 2%;
	border: 2px solid olivedrab;
	border-radius: 10px;
	margin-bottom: 20px;
}*/
/*
.reserveName , .graphName, .diseaseName, .mapName{
	margin-left: 1%;
}*/
.imgHiddenDiv{
	position: absolute;
	margin-left: 1%;
	margin-top: 5%;
}
.imgHiddenDiv img{
	width: 50px;
	height: 50px;
}

.imgHiddenDiv p{
	margin: 20px auto;
 	font-size: 30px;
 	width: 20px;
	color: rgb(79, 88, 81);
	font-family: 'HS-Regular',serif;
}

.graphImg{
	float: left;
	margin-left: 40px;
	width: 50px;
	height: 50px;
}

.graphName{
	margin-left: 100px;
	font-size: 40px;
	font-family: 'TTTtangsbudaejjigaeB',serif;
}

.graphSize{
	margin: auto;
	width: 0%;
	height: 430px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-radius: 10px;
}

#graphSize1{
	margin: auto;
	width: 94%;
	height: 430px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-radius: 10px;
}

.healthTextBigDiv{
	margin-top: 0;
	margin-left: 70px;
}

.healthTextBigDiv img{
	float: left;
	width: 30px;
	height: 30px;
	
}

.healthText{
	font-size: 20px;
	float: left;
	width: 45%;
}

.healthTextDiv{
	float: left;
	width: 400px;
	margin-top: 0px;
	margin-bottom: 30px;
	align-items:center;
}

.healthInput{
	width: 25%;
	height: 25px;
	font-size: 20px;
	text-align: center;
	border: 1px solid #00AE68;
	border-radius: 5px;
}

.healthBt{
	width: 15%;
	height: 30px;
	font-size: 15px;
	background-color: #00AE68;
	color: rgb(255, 255, 255);
	border-radius: 10px;
	cursor: pointer;
}


#bloodPDiv2 img{
	margin-left: -30px;
	margin-right: 30px;
}

.diseaseDivList{
	display: flex;
	margin-left: 50px;
	margin-bottom: 20px;
	margin-right: 65px;
	justify-content: space-around;
}

.diseaseDivList div{
	border: 3px solid rgb(0 0 0 / 52%);
    border-radius: 20px;
    margin-left: 10px;
    width: 8%;
    height: 30px;
    text-align: center;
    background-color: #fffdb2d9;
}