@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

@font-face {
    font-family: 'BMEULJIRO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#state{
    width: 100%;
    display: flex;
}

#stateDiv1{
    width: 20%;
    margin-top: 2%;
    margin-left: 2%;
}

#stateDiv2{
    width: 75%;
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
    /*background-color: #c2d5f9;
    box-shadow: 0px 3px 3px 3px rgba(35, 35, 35, 0.556);*/
}
.stateDiv2Item{
    width: 24%;
    height: 400px;
    margin-right: 1%;
    box-shadow: 0px 3px 3px 3px rgba(35, 35, 35, 0.556);
    border-radius: 5px;
}
#weightDiv{
    background-image: url("../../image/healthcare/cardBC2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

#BMIDiv{
    background-image: url("../../image/healthcare/cardBC3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#BloodPDiv{
    background-image: url("../../image/healthcare/cardBC4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
#BloodSDiv {
    background-image: url("../../image/healthcare/cardBC5.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.lineCSS{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name2{
    font-size: 25px;
    font-family: 'KoPub Batang', serif;
}

.value2{
    margin-top: 0;
    margin-left: 20%;
    font-size: 40px;
    font-family: 'Hanna', fantasy;
}

.stateValue{
    width: 100%;
    height: 40px;
    position: relative;
    top: 70px;
    padding-top: 10px;
    background-color: #636363;
    border-top: 2px solid black;
    border-radius: 5px;
    font-family: 'BMEULJIRO', serif;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}
.stateValue2{
    width: 100%;
    height: 40px;
    position: relative;
    top: 40px;
    padding-top: 10px;
    background-color: #636363;
    border-top: 2px solid black;
    border-radius: 5px;
    font-family: 'BMEULJIRO', serif;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}
.lineCSS button{
    width: 20%;
    margin-right: 3%;
    font-size: 20px;
    border-radius: 5px;
    font-family: 'BMJUA', serif;
    color: aliceblue;
    border-color: #636363;
    background-color: #858383;
    cursor: pointer;
}

.lineCSS button:hover{
    background-color: #636363;
    border-color: #858383;
    transition-duration:400ms;
}
.valueLineCSS{
    display: flex;
    justify-content: space-evenly;
}

.value3{
    margin-top: 0;
    font-size: 40px;
    font-family: 'Hanna', fantasy;
}

.BPvalueName{
    margin-top: 0;
    font-size: 20px;
    font-family: 'Hanna', fantasy;
}

.inputForm{
    width: 55%;
    font-size: 20px;
    margin-right: 1%;
    margin-left: 1%;
    font-family: 'KoPub Batang', serif;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}
.inputDiv{
    margin-top: 50px;
   visibility: hidden;
}
.stateForm{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stateFormDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.formBt{
    margin-bottom: 20px;
    width: 20%;
    font-size: 20px;
    font-family: 'BMJUA', serif;
    color: aliceblue;
    border-color: #636363;
    background-color: #858383;
    cursor: pointer;
    border-radius: 5px;
}

.formBt:hover{
    background-color: #636363;
    border-color: #858383;
    transition-duration:400ms;
}
.inputHr{
    margin-top: 90px;
}
.inputHr2{
    margin-top: -40px;
}
.inputFormBP{
    width: 45%;
    font-size: 20px;
    margin-right: 1%;
    margin-left: 1%;
    font-family: 'KoPub Batang', serif;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}
.BPvalueBar{
    padding-bottom: 20px;
}

#inputBtDiv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2%;
    margin-top: -10%;
}

#heightDiv{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    background-image: url("../../image/healthcare/heightBC2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#heightName{
    margin-right: 20px;
    color: #ffffff;
    margin-bottom: 45px;
    font-size: 25px;
    font-family: 'KoPub Batang', serif;
}

.formHBt{
    margin-bottom: 20px;
    width: 15%;
    font-size: 15px;
    font-family: 'BMJUA', serif;
    color: rgb(0, 0, 0);
    border-color: #dddddd;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
}

.formHBt:hover{
    background-color: #c6c6c6;
    border-color: #e4e4e4;
    transition-duration:400ms;
}

.HInput{
    width: 30%;
    margin-right: 5%;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: 'BMJUA', serif;
    color: aliceblue;
    background: none;
    text-align: center;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 10px;
    outline: none;
}
#cancelHBt{
    visibility: hidden;
}

#todayDiv{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    background-image: url("../../image/healthcare/calenderBC.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 270px;
}

#todayDivName{
    margin: 0 auto;
    font-size: 35px;
    font-family: 'BMJUA', serif;
    text-align: center;
}

#todayList{
    margin-left: 20%;
    list-style: none;
}

.calendar{
    width: 96%;
    margin: 30px 2%;
}

#calendarDiv{
    width: 40%;
    border: 1px solid #adadad;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#calendarDiv table{
    width: 100%;
    border-spacing: 0;
    
}
#year-mouth{
    font-size: 35px;
    font-family: 'BMJUA', serif;
    color: #313131;
}

#prevMonth, #nextMonth{
    width: 20%;
    margin: 10% auto;
    font-size: 35px;
    font-family: 'BMJUA', serif;
    cursor: pointer;
    color: #484848;

}
#calendarDiv table tbody tr td{
    text-align: center;
}

thead tr:first-child{
    background-color: #dbdbdb;
}
thead tr:first-child th:first-child{
    border-top-left-radius: 10px;
}

thead tr:first-child th:last-child{
    border-top-right-radius: 10px;
}
thead tr:last-child{
    margin-top: 20px;
    box-shadow: 0px 3px 3px 3px #616161;
    background-color: #484848;
}
.dayWeek{
    font-size: 25px;
    font-family: 'Cafe24Ssurround',serif;
    padding: 10px 0px;
    width: 13%;
    color: rgb(235, 235, 235);
}
#sunday,#calendarDiv table tbody tr td:first-child{
    color: rgb(255 56 56);
}

#saturday,#calendarDiv table tbody tr td:last-child{
    color: rgb(74 74 255);
}

tbody tr td{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 30px;
    font-family: 'KOTRAHOPE',serif;
}

#nullTD{
    /*background-color: #dedede;*/
}

#today{
    width: 50%;
    margin: 0px auto;
    background-color: #fdca63c2;
    border-radius: 50px;
    
}

