*{
 margin: 0; 
 padding: 0; 
 list-style: none; 
 text-decoration: none;

 }
 
div.slogan {
    width: 100% !important;
    height: 250px;
    background: url(/image/exercise2.png) no-repeat 50% !important;
    background-size: cover;
}

.a{
	font-size:50px;
	text-align:center;
	color:white;
	line-height:150px;
	margin-top:20px;
}

.b{
	color:white;
	text-align:center;
	font-size:25px;
	line-height:10px;
}

 
.tab{
	text-align:center;
	padding:50px;

	}
	
.flex{
	width:100%
	margin-top:20px;
	
}
.list li{
	display:inline-block;
	font-size:25px;
	padding:5px;

}

.panel{
	border:1px solid black;
	padding:15px;
	padding-left:40px;
	padding-right:40px;

	}
	
.active{
	color: #ffffff!important;
    background: #2b5580!important;
	}
	
.content{
	display: none;
	}
	
.rank_box{
	display:flex;
	justify-content: space-evenly;
	margin: 0 auto;
	padding:30px;
}

.rank_list{
	font-size:30px;
	width:760px;
	height:505px;
	padding:0;
	margin:0 auto;

}


.updown {
		margin-top:30px;
    	border: 0.5px solid black;
        width: 0.1px;
        height: 500px;
    }

p{
	padding:10px;
	font-weight:bold;
	font-size:30px;
}

.rank_list li{
	line-height:80px;
	border:none;
	border-radius:20px;
	box-shadow:5px 5px gray;
	margin:15px;
	padding:0px 0px 0px 30px;
	border:0.5px solid gray;
}

.exVideo_1 p{
	font-size:20px;
	font-weight:normal;
}


.exItem{
	display:flex;
	padding:20px;
	padding-top:40px;
}

.exItem p{
	font-size:20px;
	font-weight:normal;
}

.ListBox{
	margin-left:8%;
}

