*{
 margin: 0; 
 padding: 0; 
 list-style: none; 
 text-decoration: none;

 }
 
div.slogan {
    width: 100% !important;
    height: 250px;
    background: url(/image/exercise2.png) no-repeat 50% !important;
    background-size: cover;
}

.a{
	font-size:50px;
	text-align:center;
	color:white;
	line-height:150px;
	margin-top:20px;
}

p{
	color:white;
	text-align:center;
	font-size:25px;
	line-height:10px;
}

 
.tab{
	text-align:center;
	padding-top:50px;

	}
	
.flex{
	width:100%
	margin-top:20px;
	
}
.list li{
	display:inline-block;
	font-size:25px;
	padding:5px;

}

.panel{
	border:1px solid black;
	padding:15px;
	padding-left:40px;
	padding-right:40px;

	}
	
.active{
	color: #fff !important;
    background: #bbbbbb !important;
	}
	
.content{
	display: none;
	}
	
div.on{
	height:100%;
	margin:0 auto;
	display: block !important;
	width:100%;
	padding-top:2px;
	text-align:center;

	}
	

h3 {margin-top:100px;
	margin-left:50px;
}

iframe{
	margin:20px;
}



input.routineBtn {
	border:1px solid black;
	background-color:white;
	border-radius:5px;
	padding:25px;
	margin:40px;
	margin-top:20px;
	margin-right:0px;
	cursor:pointer;
	font-size:25px;

}
div#routine.exRoutine{
	width:1280px;
	margin:0 auto;
}

div.content a{ float:right;
margin-right:30px;

	
}

div#stretch.exstretch{
	margin-bottom:40px;
}

<!--slide-->
#eventprevnext { position:relative; z-index:10;}
#prevButton2 {
	position:absolute;
	top:700px;
	left:1px;
	opacity:0.3;
	cursor:pointer;
}
#nextButton2 {
	position:absolute;
	top:700px;
	right:1px;
	opacity:0.3;
	cursor:pointer;
}

#prevButton2:hover { opacity:1;}
#nextButton2:hover { opacity:1;}

#header{
	 visibility: hidden;
}

#header ul li{
	margin-top:35px;
	margin-bottom:20px;
}
