@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
	 font-family: 'OTWelcomeRA';
 margin: 0; 
 padding: 0; 
 list-style: none; 
 text-decoration: none;

 }
 
div.slogan {
    width: 100% !important;
    height: 250px;
    background: url(/image/exercise2.png) no-repeat 50% !important;
    background-size: cover;
}

.a{
	font-size:50px;
	text-align:center;
	color:white;
	line-height:150px;
	margin-top:20px;
}

.b{
	color:white;
	text-align:center;
	font-size:25px;
	line-height:10px;
}

 
.tab{
	text-align:center;
	padding:55px;

	}
	
.flex{
	width:100%;
	margin-top:25px;
	
}
.list li{
	display:inline-block;
	font-size:30px;
	padding:10px;
	line-height:2px;


}

.panel{
	border:1.5px solid #2b5580;
	padding:20px;
	padding-left:40px;
	padding-right:40px;
	cursor:pointer;
	color:#2b5580;
	transition:all 1s;
	}
	
.active{
	color: #ffffff!important;
    background: #2b5580!important;
	}
	
.content{
	display: none;
	}
	
.rank_box{
	display:flex;
	justify-content: space-evenly;
	margin: 0 auto;
	padding:30px;
}

.rank_list{
	font-size:25px;
	width:760px;
	height:505px;
	padding:0;
	margin:0 auto;

}


.updown {
		margin-top:60px;
    	border: 0.5px solid black;
        width: 0.1px;
        height: 500px;
        background-color:#2b5580;
        border-color:#2b5580;
    }

p{
	padding:10px;
	font-weight:bold;
	font-size:30px;
	color:#2b5580;
}

.rank_list li{
	line-height:80px;
	border:none;
	border-radius:10px;
	box-shadow:5px 5px gray;
	margin:15px;
	padding:0px 0px 0px 30px;
	border:0.5px solid #2b5580;
	display: flex;
	align-items: center;
}

.rank_list li p{
	padding: 0;
	margin-right: 5%;
}

.rank_list li a{
	color: #165495;
}

.exVideo_1 p{
	font-size:20px;
	font-weight:normal;
}



.exItem{
	display:flex;
	margin:20px;
	border-left: 3px solid #2b5580;
	border-right: 3px solid #2b5580;
	border-radius: 30px;
	background-color: rgb(0 39 68 / 5%);
	box-shadow: 0px 3px 3px 3px rgba(35, 35, 35, 0.556);
}
.itemImg{
	width: 100px;
	height: 100px;
	margin-left: 3%;
}
.itemImgName{
	width: 88%;
}
.itemText{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.itemText p{
	margin: 0;
	font-size:20px;
	font-weight:normal;
	margin-left: 1%;
}

.textName{
	width: 56%;
}
.textName a{
	font-size:30px;
	font-weight:normal;
	margin-left: 5%;
	color: #165495;
}
.itemImgName hr{
	margin: 0 3%;
	margin-top: 20px;
	border-color: #2b5580;
}
.itemPageCount{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.itemPageCount b{
	font-size: 30px;
	color: #2b5580;
	margin-right: 1%;
}

.itemPageCount a{
	font-size: 30px;
	color: #2f649b;
	margin-right: 1%;
	cursor: pointer;
}
.ListBox{
	margin:0 8%;
}


.list a {
  position: relative;
  /*display:block;*/
  height: 80px;
  width: 200px;
  margin: 10px 7px;
  padding:30px;
	padding-left:50px;
	padding-right:50px;
	color:#2b5580;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 3px;

  border: 1.5px #2b5580 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.panel:hover {
  color: whitesmoke;
}

.panel:before {
  content: "";
  position: absolute;
  background: #2b5580;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.panel:hover:before {
  top: 0;
}