body {
	margin: -10px 0px;
}



form {
	min-height: 500px;
	display:flex;
	justify-content:center;
	align-items:center;
}

.myPage-nav {
	float: left;
	width: 20%;
	min-height: 500px;
	border-right: solid rgb(57, 105, 73) 3px;
	margin-bottom: 30px;
}

.myPage-nav-container {
	margin: 10px;
	min-height: 500px;
	
}

.myPage-userImg {
	margin-left:130px;
	height: 100px;
	width: 100px;
	height: 100px;
}

.myPage-Inf {
	margin-left:110px;
	margin-top:10px;
	height: 100px;
}

.button-box {
	margin-left:10px;
	
}

.myPage-button {
	font: 600 16px/18px 'Open Sans', sans-serif;
	width: 300px;
	line-height: 50px;
	color: #FFF;
	border-radius: 5px;
	border: none;
	background: #21825B;
	margin: 0 20px 10px;
}

.myPage-button.myPage-button:hover {
	background: #00AE68;
}

.myPage-main {
	margin-left: 20%;
	width: 80%;
	min-height: 500px;
}

.myPage-main-contain {
	margin: 10px;
	min-height: 500px;
	margin-bottom: 10px;
}

h3 {
	font: 1000 175% 'Helvetica Neue', Helvetica, Arial;
	text-align: center;
	margin: 10px 0 30px;
}

.left_container {
	float: left;
	width: 40%;
	min-height: 300px;
	padding-left: 5%;
	padding-right:4%;
	text-align:center;
}

.right_container {
	float: right;
	width: 40%;
	min-height: 300px;
	padding-right: 5%;
	padding-left:4%;
	text-align:center;
}

.container {
	margin-bottom: 10px;
}

.user_label {
	margin-left:140px;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 700;
	text-align: left;
}

.user_box {
	padding: 10px;
	width: 300px;
	text-align: left;
	border: 1px solid #21825B;
	border-radius: 10px;
	font-size: 14px;
}

.button {
	margin-right: 150px; width : 100px;
	padding: 0;
	line-height: 30px;
	color: #FFF;
	border-radius: 5px;
	border: none;
	background: #21825B;
	margin-top: 5px;
	float: right;
	text-decoration-line: none;
	font-size:12px;
}

.button.button:hover {
	background: #00AE68;
}

.button_1 {
	width: 100px;
	padding: 0;
	line-height: 30px;
	color: #FFF;
	border-radius: 5px;
	border: none;
	background: #21825B;
	margin-top: 5px;
	
}

.button_1.button_1:hover {
	background: #00AE68;
}

.button2{
	margin-right: 140px; width : 150px;
	padding: 0;
	line-height: 30px;
	color: #FFF;
	border-radius: 5px;
	border: none;
	background: #21825B;
	margin-top: 5px;
	float: right;
	text-decoration-line: none;
}

.button2.button2:hover{
	background: #00AE68;
}

.button3{
	width : 100px;
	padding: 0;
	line-height: 30px;
	color: #FFF;
	border-radius: 5px;
	border: none;
	background: #21825B;
	margin-top: 5px;
	float: right;
	text-decoration-line: none;
	margin-right:10px;
	font-size:13px;
}
.button3.button3:hover{
	background: #00AE68;
}

.saveListDiv{
	
	display: flex;
	justify-content: center;
	
}
.saveExerciseList{
	width: 46%;
	height: 300px;
	padding: 20px 2%;
	margin: 20px 2%;
	border: 3px solid #21825B;
	border-radius:10px;
	overflow: hidden;
	
    position: relative;
	
}

.saveExerciseList ul li{
	padding-left: 1%;
	border: 3px solid #21825B;
	border-radius:10px;
	margin-bottom: 10px;
}
.saveExerciseList ul li img{
	width: 50px;
	height: 50px;
}

.exListImgName{
	display: flex;
	align-items: center;
}

.exListImgName div{
	margin-left: 5%;
	font-size: 20px;
}
.saveListDiv ul{
	list-style: none;
}
.saveSupplementsList{
	width: 46%;
	padding-top: 20px;
	padding-left: 3%;
	margin: 20px 2%;
	border: 3px solid #21825B;
	border-radius:10px;
}

.SE_text{
	font: 1000 175% 'Helvetica Neue', Helvetica, Arial;
	text-align:center;
	margin-bottom:20px;
}